body {background-color: rgb(255, 176, 147);}

header {text-align: center;
font-size: 25px;
background-color: rgb(252, 202, 184);
margin-bottom: 0.5cm;}

.row {float: left;
width: 50%;}

.col-sm-4 {column-width: 33%;
column-count: auto;
column-rule-color: rgb(248, 140, 100);}

.row2 {float: right;
width: 50%;
column-width: 50%;
column-count: auto;
column-rule-color: rgb(248, 140, 100);}