body {background-color: rgb(255, 176, 147);}

header {text-align: center;
font-size: 25px;
background-color: rgb(252, 202, 184);
margin-bottom: 0.5cm;}

.container


.row {float: left;
background-color: black;
color: white;
width: 50%;
column-count: auto;}

.col-md-4 {float: left;
column-width: 33.33%;}

.row2 {float: right;
background-color: black;
color: white;
width: 50%;
column-count: auto;}



.col-md-6 {float: right;
column-width: 50%;}

