body {background-color: rgb(255, 176, 147);}

header {text-align: center;
font-size: 25px;
background-color: rgb(252, 202, 184);
margin-bottom: 0.5cm;}

.row {float: left;
width: 50%;
background-color: black;
color: white;}

.col-sm-4 {float: left;
width: 33.33%;}



.row2 {float: right;
width: 50%;
background-color: black;
color: white;}



.col-sm-6 {float: right;
width: 50%;}

