body{background-color: rgb(218, 192, 241);}

h1{font-size: 40px;
color: black;
padding: 10px;}

h2{font-size: 30px;
color: black;
padding: 10px;}

.form1 {position: absolute;
top: 300px;
padding: 10px;}

.textiboxi{word-wrap: break-word;
position: absolute;
top: 430px;
padding: 10px;}
