body {background-color: black;}
h1 {font-size: 20px;}
h1 {color: white;}
p {font-size: 12px;}
p {color: green;}
ol {color: white;}
ul {color: white;}

.myDiv{border:dotted ;
border-color: yellow;
border-width: 2px;
width: 100px;
height: 100px;}

.mydiv2{text-align: left;}
.mydiv3{text-align: left;}
.img{width: 200px;
height: 200px;}
.img2{width: 200px;
    height: 200px;}
figcaption {color: yellow;}
h2 {color: white;}

.Otsikko1 {border:solid;
    border-color: white;
    width: 10cm;
    height: 2cm ;}
.Otsikko2 {border:solid;
    border-color: white;
    width: 10cm;
    height: 2cm;}