body {width: 90%;
margin-left: auto;
margin-right: auto;}

.header {padding: 25px;
text-align: center;
background-color: lightgrey;
color: darkblue;
font-size: 1cm;}

.nav {padding: 15px;
text-align: left;
background-color: darkgrey;
color: darkred;
font-size: 0.5cm;}

.section {width: 50%;
padding: 20px;
text-align: left;
background-color: grey;
color: blue;}

img {width: 3cm;
height: 6cm;}