body {background-color: black;}
h1 {font-size: 20px;}
h1 {color: white;}
p {font-size: 12px;}
p {color: green;}
ol {color: white;}
ul {color: white;}

.myDiv{border:dotted ;
border-color: yellow;
border-width: 2px;
width: 100px;
height: 100px;}

.mydiv2{text-align: left;}
.mydiv3{text-align: left;}

h2 {color: white;}

.Otsikko1 {border:solid;
padding: 0.2cm;
border-color: white;
width: 7cm;
height: 1cm;
margin-bottom: 1cm;}

p2 {color:green;
font-size: 25px;}   
p2 {border: solid;
border-color: green;
border-radius: 45px;
width:3cm ;
height: 1cm;
margin-bottom: 3cm;
background-color: white;}

.img{width: 200px;
height: 200px;}
.img2{width: 200px;
height: 200px;}
figcaption {color: yellow;}

h2 {border:solid;
padding: 0.2cm;
border-color: white;
width: 3cm;
height: 0.5cm;}
h2 {margin-bottom: 0.1cm;}

.hedu {font-size: 20px;
text-align: center;
height: 150px;
padding: 5px;
background-color: rgb(83, 69, 69);}
h3 {color:white;}

.jotain {background-color: rgb(70, 37, 37);
text-align: center;}
p {color: whitesmoke;
font-size: 12px;
margin: 10px;
margin-bottom: 10px;
padding: 20px;}

.nav {float: left;
nav-left: auto;
padding: 5px;
width: 65px;
height: 100px;
text-align:left;
background-color: darkgrey;}
a:hover {color: red;
text-decoration: underline overline;}

.section {float: right;
width: 93.6%;
height: 110px;
text-align: left;
padding-left: 5px;
background-color: blueviolet;
color: white;}

.footer {float: inline-end;
font-size: 20px;
background-color: rgb(48, 47, 47);
text-align: center;
padding: 10px;}


